<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/add" method="post" enctype="multipart/form-data">  
	    <input type="file" name="avatar" /><br/>  
	    <input type="text" name="aaaa" /><br/>  
	    <input type="text" name="bbb" /><br/>  
	    <input type="submit" value="submit"/><br/>  
	</form>  
    <!-- enctype="multipart/form-data" -->
  </body>
</html>
